<template>
    <footer>

        <div class="footer-bottom navbar-fixed-bottom row-fluid">
            <div class="container">
                <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>
</template>
<style lang="sass">

.footer-bottom
	background: #fff
	border-top: 1px solid #f2f4f7
	padding-top: 10px
	padding-bottom: 10px
    color: #698e99

.footer-bottom p.pull-left
	padding-top: 6px

</style>


