<template>
    <!-- Static navbar -->
    <!-- navbar-fixed-top  -->
    <nav class="navbar navbar-inverse navbar-static-top shadow_bottom" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <div class="mooly_logo">

                    <router-link  to="/">
                        <img alt="Waity" src="/images/waity.png">
                    </router-link>

                    <!--<span>То что мы ждём, всгда здесь.</span>-->
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <router-link exact="true" activeClass="active" tag="li" to="/">
                        <a>{{ $lang.header.menu_home }}</a>
                    </router-link>


                    <router-link v-if="is_auth" append="true" activeClass="active" tag="li" to="/settings">
                        <a>{{ $lang.header.menu_settings }} </a>
                    </router-link>


                    <li v-if="is_auth">
                        <a v-bind:title="$lang.buttons.login_out" href="javascript:void(0)" @click="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>

                    <div v-if="!is_auth" class="auth_block">
                        <router-link to="/login" class="btn btn-success">{{  $lang.buttons.login_in  }}</router-link>
                        <router-link to="/register" class="btn btn-default">{{  $lang.buttons.sing_in  }}</router-link>
                    </div>

                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->

        <div class="tk_bottom_nav">
        </div>

    </nav>
</template>

<style lang="sass">

    $open-menu-bg: #698e99
    $default-dark: #424951

    .shadow_bottom
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2)

    .arrow-down
        display: inline-block
        width: 0
        height: 0
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 5px solid $default-dark
        position: relative
        top: -13px
        left: 3px

    .navbar-nav li
        text-decoration: none
        line-height: 24px
        margin-right: 20px
        font-weight: 600
        font-size: 12px
        display: inline-block
        position: relative
        color: #424951
        vertical-align: top
        transition: color .2s
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

    .navbar-nav li a
        text-transform: uppercase
        transform: translateY(2px)
        display: inline-block

    .mooly_logo
        padding-top: 3px

    .mooly_logo a
        cursor: pointer

    .mooly_logo img
        width: 95px
        padding-top: 14px

    .mooly_logo span
        transition: color .2s
        color: #698e99

    .dropbtn
        background-color: #fff
        color: $default-dark
        padding: 16px
        font-size: 14px
        border-left-color: #ddd
        border-left-style: solid
        border-left-width: 1px
        cursor: pointer
        height: 70px

    .dropdown
        position: relative
        display: inline-block

    .dropdown-content
        display: none
        position: absolute
        background-color: #fafafa
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
        z-index: 1
        width: 100%

    .dropdown-content a
        color: black
        padding: 12px 16px
        text-decoration: none
        display: block
        width: 100%

    .dropdown-content a:hover
        background-color: #f1f1f1

    .dropdown:hover .dropdown-content
        display: block

    .dropdown:hover .dropbtn
        background-color: #fff

    .circle-avatar
        max-width: 100%
        width: 100%
        height: auto
        display: block
        padding-top: 100%
        border-radius: 50%
        background-position-y: center
        background-position-x: center
        background-repeat: no-repeat
        background-size: cover
        margin: 0 auto
        top: 0
        left: 0
        right: 0
        bottom: 0

    .avatar
        width: 35px

    .inline
        display: inline-block

    .auth_block
        padding-top: 29px
        display: inline-block

    .user_name
        padding-left: 5px
        position: relative
        top: -11px

</style>

<script>
    import {popover} from 'vue-strap'
    import {outside} from '../directives/outside.js'

    export default {
        computed: {
            user() {
                return this.$store.getters.user;
            },
            is_auth() {
                return this.$auth.isAuth();
            }
        },
        methods: {
            logout() {
                this.$store.dispatch('removeToken');
                this.$store.dispatch('removeUser');
                this.$service.setLang(this);

                this.$router.push("/");
            },
            go(url)
            {
                this.$router.push(url);
            }
        },
        components: {
            'popover-component': popover,
            'popover': popover
        },
        directives: {
            'click-outside': outside
        },

    }

</script>