<template>
    <div>
        <h1 class="page_header">Привет {{ user.fullName }}</h1>
        <div class="panel panel-info shadow_panel">
            <div class="panel-body content_page">
                <pre>{{ user }}</pre>
            </div>
        </div>
    </div>
</template>
<style lang="sass">



</style>
<script>
export default {
    computed: {
        user() {
            return this.$store.getters.user;
        }
    }
}
</script>