
<template>
    <div>
        <div class="content">
            <div class="row">
                <div class="col col-md-12">
                    <pre>{{ user }}</pre>
                </div>

            </div>
        </div>
    </div>
</template>

<style lang="sass">
</style>
<script>
export default {

    computed: {
        user() {
            return this.$store.getters.user;
        }
    }
}
</script>