<template>
    <div>
        <div class="panel panel-info shadow_panel padding-bottom">
            <div class="panel-body content_page">

                <div class="content">
                    <div class="row">
                        <div class="col col-md-9 w-border-right">
                            <router-view></router-view>
                        </div>
                        <div class="col col-md-3">

                            <div id="sidebar" class="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">

                                    <router-link activeClass="active" tag="li" to="/settings/user">
                                        <a>{{ $lang.header.menu_edit }}</a>
                                    </router-link>

                                    <router-link activeClass="active" tag="li" to="/settings/pay">
                                        <a>{{ $lang.header.menu_pay }}</a>
                                    </router-link>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<style lang="sass">

    .w-border-right
        border-right: 1px #cad4dc solid

</style>
<script>
    export default {
        created() {
            /** default redirect **/
            this.$router.push("/settings/user");
        }

    }
</script>