<template>
    <div>
        <div class="content">
            <div class="row">
                <div class="col col-md-8">

                    <form id="profileForm" role="form">

                        <div v-show="success" class="alert alert-success">
                            {{ $lang.alert.success_save }}
                        </div>

                        <div class="form-group">
                            <label for="first_name">{{ $lang.input.first_name }}</label>
                            <input v-on:keyup.enter="store" type="text" class="form-control" id="first_name" aria-describedby="Имя"
                                   v-bind:placeholder="$lang.input.first_name" v-model="profileForm.first_name">
                        </div>

                        <div class="form-group">
                            <label for="last_name">{{ $lang.input.last_name }}</label>
                            <input v-on:keyup.enter="store" type="text" class="form-control" id="last_name" v-bind:aria-describedby="$lang.input.last_name"
                                   v-bind:placeholder="$lang.input.last_name" v-model="profileForm.last_name">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input v-on:keyup.enter="store" type="email" class="form-control" id="email" aria-describedby="Email"
                                   placeholder="Email" v-model="profileForm.email">
                        </div>

                        <div class="form-group">
                            <label for="lang">{{ $lang.input.lang }}</label>
                            <select class="form-control"  id="lang" v-model="profileForm.lang">
                                <option disabled value="">{{ $lang.input.select_hint }}</option>
                                <option value="ru">Русский</option>
                                <option value="en">English</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dateBirth">{{ $lang.input.date_of_b }}</label>
                            <datepicker id="dateBirth" name="date_of_birth" v-bind:language="this.$service.getLangCode(this)" input-class="form-control"
                                        v-model="profileForm.date_of_birth"></datepicker>
                        </div>

                        <fieldset class="form-group">
                            <legend></legend>
                            <a @click="store" id="btn-profile" class="btn btn-primary">{{ $lang.buttons.save }}</a>
                        </fieldset>

                    </form>

                </div>

                <div class="col col-md-4 dop-panel">
                    <avatar v-if="user.avatar" v-bind:username="user.fullName" v-bind:src="user.avatar"
                            :size="100"></avatar>
                    <avatar v-else v-bind:username="user.fullName" :size="100"></avatar>
                </div>

            </div>
        </div>
    </div>
</template>
<style lang="sass">
        .vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover
            background-color: #424951 !important
            color: #fff !important
            border-color: #424951 !important

        .vdp-datepicker__calendar
            width: 250px !important

        .vdp-datepicker__calendar .cell
            height: 25px !important
            line-height: 23px !important

        .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover
            border: 1px solid #424951 !important

</style>
<script>

    import Datepicker from 'vuejs-datepicker';
    import Avatar from 'vue-avatar';

    export default {

        /** component model**/
        data() {
            return {
                profileForm: {
                    first_name: null,
                    last_name: null,
                    email: null,
                    date_of_birth: null,
                    lang: null
                },
                success: false
            }
        },

        /** computed variable **/
        computed: {
            user() {
                return this.$store.getters.user;
            }
        },

        /** fill model default data **/
        created() {
            this.fillModel();
        },

        methods: {

            /** Store profile **/
            store() {
                let successCallback = (data) => {
                    this.success = true;
                };
                this.$user.storeProfile(this, this.profileForm, successCallback.bind(this));
            },


            /**
             * Fill User Model
             */
            fillModel() {
                let storeData = (data) => {
                    this.profileForm.first_name = data.firstName;
                    this.profileForm.last_name = data.lastName;
                    this.profileForm.email = data.email;
                    this.profileForm.date_of_birth = new Date(data.dateBirth);
                    this.profileForm.lang = data.lang;
                };
                this.$store.dispatch('getUser', storeData.bind(this));
            }

        },

        components: {
            Datepicker,
            'avatar': Avatar.Avatar
        }
    }

</script>