<template>
    <div class="facebook">
        <div id="status">{{facebookStatus}}</div>
        <button v-show="!isAuthenticated" class="btn btn--facebook" @click="handleLoginClick">Login with Facebook</button>
        <button v-show="isAuthenticated" class="btn" @click="handleLogoutClick">Logout</button>
    </div>
</template>

<script>
    export default {
        name: 'facebook',
        data () {
            return {
                facebookStatus: ''
            }
        },
        computed: {
            isAuthenticated () {
                return localStorage.getItem('profile')
            }
        },
        mounted () {
            setTimeout(() => {
                window.FB.getLoginStatus((response) => {
                    this.statusChangeCallback(response)
                })
            }, 1000)
        },
        methods: {
            testAPI () {
                console.log('Welcome!  Fetching your information.... ')
                window.FB.api('/me', (response) => {
                    console.log(`Successful login for: ${response.name}`)
                    this.facebookStatus = `Thanks for logging in, ${response.name}!`
                    localStorage.setItem('profile', JSON.stringify(response.name))
                    localStorage.setItem('token_id', response.id)
                    this.$router.push({ path: 'home' })
                })
            },
            // This is called with the results from from FB.getLoginStatus().
            statusChangeCallback (response) {
                console.log('statusChangeCallback', response)
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    this.testAPI()
                } else if (response.status === 'not_authorized') {
                    // The person is logged into Facebook, but not your app.
                    this.facebookStatus = 'Please log into this app.'
                } else {
                    // The person is not logged into Facebook, so we're not sure if
                    // they are logged into this app or not.
                    this.facebookStatus = 'Please log into Facebook.'
                }
            },
            // This function is called when someone finishes with the Login
            // Button.
            checkLoginState () {
                window.FB.getLoginStatus((response) => {
                    this.statusChangeCallback(response)
                })
            },
            handleLoginClick () {
                window.FB.login(this.checkLoginState())
            },
            handleLogoutClick () {
                // window.FB.logout(this.checkLoginState())
                localStorage.removeItem('profile')
                localStorage.removeItem('id_token')
            }
        }
    }
</script>

<style scoped>
    .btn {
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid;
        border-color: #333;

    }
    .btn--facebook {
        background-color: #3B5998;
        border-color: #3B5998;
        color: white;
    }
</style>