<template>
    <div id="app">
        <header-component/>
            <div class="container">
                <transition name="fade" mode="out-in">
                  <router-view></router-view>
                </transition>
            </div>
        <footer-component/>
    </div>
</template>

<style lang="sass">

    $icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/"

    @import "assets/variables"
    @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
    @import url("https://fonts.googleapis.com/css?family=Open+Sans")
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

    $font: Open Sans, sans-serif

    body
        font-family: $font
        height: 100%

    .fade-enter-active, .fade-leave-active
        transition-property: opacity
        transition-duration: .15s

    .fade-enter-active
        transition-delay: .15s

    .fade-enter, .fade-leave-active
        opacity: 0

    .shadow_panel
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)

    .inline
        display: inline-block

    .content_page
        padding: 15px

    .page_header
        line-height: 24px
        transition: color .2s
        padding-bottom: 10px
        text-transform: uppercase
        transform: translateY(2px)


</style>
<script>
    import HeaderComponent from './views/header.vue'
    import FooterComponent from './views/footer.vue'

    export default {
        created() {
            this.$service.setLang(this);
        },
        components:{
            'header-component': HeaderComponent,
            'footer-component': FooterComponent,
        }
    }

</script>