<template>

        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info shadow_panel">
                <div class="panel-heading">
                    <div class="panel-title">{{ $lang.buttons.auth }}</div>
                </div>
                <div class="panel-body">

                    <div v-show="validationMessage" class="alert alert-danger col-sm-12">{{validationMessage}}</div>

                    <form id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 10px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input v-model="email" id="login-username" type="text" class="form-control" name="email"
                                   value="" placeholder="Email" v-on:keyup.enter="login" required autofocus>
                        </div>

                        <div style="margin-bottom: 10px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input v-model="password" id="login-password" type="password" class="form-control"
                                   name="password" v-bind:placeholder="$lang.input.password" v-on:keyup.enter="login" required >
                        </div>


                        <div style="margin-top:15px" class="form-group">
                            <div class="col-sm-12 controls">
                                <a @click="login" id="btn-login" class="btn btn-success">{{ $lang.buttons.login_in }}</a>
                                &nbsp; <router-link to="/register" class="inline">{{ $lang.buttons.sing_in }}</router-link>
                            </div>
                            <!--<facebook-component></facebook-component>-->

                        </div>
                    </form>

                </div>
            </div>
        </div>

</template>
<style lang="sass">

</style>
<script>

    import FacebookComponent from '../../components/facebook.vue'

    export default {
        data() {
            return {
                email: '',
                password: '',
                validationMessage: false
            }
        },
        methods: {

            /**
             * Authorization method
             */
            login() {
                this.$auth.login(this);
            }
        },
        components:{
            'facebook-component': FacebookComponent,
        }
    }
</script>
