<template>


        <div  class=" col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info shadow_panel">
                <div class="panel-heading">
                    <div class="panel-title">{{ $lang.buttons.sing_in }}</div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div v-show="validationMessage" class="alert alert-danger col-sm-12"><div v-html="validationMessage"></div></div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ $lang.input.first_name }}</label>
                            <div class="col-md-9">
                                <input   v-on:keyup.enter="register" type="text" v-model="first_name" class="form-control" name="first_name" v-bind:placeholder="$lang.input.first_name"
                                       required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ $lang.input.last_name }}</label>
                            <div class="col-md-9">
                                <input   v-on:keyup.enter="register" type="text" v-model="last_name" class="form-control" name="last_name" v-bind:placeholder="$lang.input.last_name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input  v-on:keyup.enter="register" type="text" v-model="email" class="form-control" name="email" placeholder="Email"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ $lang.input.password }}</label>
                            <div class="col-md-9">
                                <input  v-on:keyup.enter="register" type="password" v-model="password" class="form-control" name="password"
                                       v-bind:placeholder="$lang.input.password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ $lang.input.confirm }}</label>
                            <div class="col-md-9">
                                <input type="password" v-model="confirm_password" class="form-control"
                                       name="confirm_password" v-bind:placeholder="$lang.input.confirm" v-on:keyup.enter="register" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <a @click="register" id="btn-register" class="btn btn-success">{{ $lang.buttons.sing_in }}</a>
                                &nbsp; <router-link to="/login" class="inline">{{ $lang.buttons.auth }}</router-link>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

</template>
<style lang="sass">

</style>
<script>
    export default {
        data() {
            return {
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                confirm_password: '',
                validationMessage: false
            }
        },
        methods: {

            /**
             * Registration method
             */
            register() {
                this.$auth.register(this);
            }
        }

    }
</script>
